.columns {
}

.column {
  width: 33.3333333%;
  float: left;
  display: block;
  border-right: 1px solid #aaa;
}

.column:last-child {
  border-right: none;
}

.column-body {
  overflow: auto;
}

.action-failed, .action-failed div {
  color: #E60000;
}

.actions-column .action-status {
  font-size: 9px;
}