.columns {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.column {
  width: 33%;
  height: 100%;
  float: left;
  display: block;
  border-right: 1px solid #aaa;
}

.column-body {

}

.action-failed, .action-failed div {
  color: #E60000;
}

.actions-column .action-status {
  font-size: 9px;
}