.list-container {
  flex-grow: 1;
  overflow: scroll;
  height: 100%;
}

.list {
  font-size: 11px;
  line-height: 120%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.list-item {
  line-height: 17px;
  height: 41px;
  padding: 1px 4px;
  /*border-left: 1px solid rgb(210, 210, 210);*/
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;
  background-color: rgb(238, 238, 238);
}

.list-item.alt {
  background-color: white;
}

.list-item:hover {
  text-decoration: underline;
}

.list-container > .list > .list-item.active {
  background-color: rgb(56, 121, 217);
  color: white !important;
}

.list-container > .list > .list-item.active div {
  color: white !important;
}

.section:first-child > .sidebar-pane-title {
  border-top: none;
}

.column-title.sidebar-pane-title::before {
  background-image: none;
  width: 0;
}