.object-tree {
  list-style-type: none;
  margin: 0;
  padding: 3px;
}

.object-tree-node-name {
  color: #881391;
}

.object-tree-node-seperator {
  margin-right: 3px;
}

.object-tree-node-value {
  color: #303942;
}